body {
    font-family: 'Sawarabi-Mincho', sans-serif;
    background-color: black;
    margin: 0;
    display: grid;
    grid-template-areas:
        'header header'
        'nav content'
        'footer footer';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 250px minmax(800px, 1fr);
    height: 100vh;
}

header,
footer {
    grid-area: header;
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 250px minmax(900px, 1fr);
    grid-template-areas:
        'nav content';
}

.sidebar {
    grid-area: nav;
    background-color: #f6ecec;
    padding: 1rem;
}

.content {
    color: white;
    grid-area: content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h2 {
    color: white;
    text-align: center;
    margin: 0;
    width: 100%;
}

.content p {
    color: white;
    text-align: justify;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    grid-area: footer;
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.5rem 0;
}

@media (max-width: 768px) {
    body {
        grid-template-areas:
            'header'
            'nav'
            'content'
            'footer';
        grid-template-columns: 1fr;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    .sidebar,
    .content {
        padding: 1rem;
    }

    .content {
        align-items: center;
    }
}
@font-face {
    font-family: 'Sawarabi-Mincho';
    src: url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho') format('ttf');
}